html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

.bodyText {
  font-family: "Fraunces", "Vazir";
  font-weight: 300;
  font-size: 21px;
  line-height: 38px;
  padding-bottom: 32px;
  color: #4d4d4d;
}

h1 {
  font-family: "Fraunces", "Vazir";
  font-size: 48px;
  margin-bottom: 20px;
  color: #707070;
}

h2 {
  font-family: "Fraunces", "Vazir";
  font-size: 32px;
  padding-bottom: 6px;
  color: #707070;
}

h3 {
  font-family: "Fraunces", "Vazir";
  font-size: 24px;
  padding-bottom: 6px;
  color: #707070;
}

.buttonsText {
  text-align: center;
  font-family: "Fraunces", "Vazir";
  font-weight: 600;
  letter-spacing: 1px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.unSelectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

@font-face {
  font-family: "BKoodak_Bold";
  src: url("/fonts/bkoodak/bkoodak.TTF");
  font-style: bold;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Vazir";
  src: url("/fonts/vazir/Vazir-Light.ttf");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Vazir";
  src: url("/fonts/vazir/Vazir-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Vazir";
  src: url("/fonts/vazir/Vazir-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Vazir";
  src: url("/fonts/vazir/Vazir-Black.ttf");
  font-style: normal;
  font-weight: 900;
}

@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@600&display=swap");

@media screen and (max-width: 760px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 25px;
  }
  h3 {
    font-size: 21px;
  }
  .bodyText {
    font-size: 18px;
  }
}
